<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolCalendarTrayIcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SchoolCalendarTrayIcon.Properties.Settings>
            <setting name="CompassLink" serializeAs="String">
                <value>Nil</value>
            </setting>
            <setting name="AMPM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Times" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeTo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimpleInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ends" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tasks" serializeAs="String">
                <value>False</value>
            </setting>
        </SchoolCalendarTrayIcon.Properties.Settings>
    </userSettings>
</configuration>